**
!Directory.Build.props
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!ACKNOWLEDGEMENTS.md
!src/
!src/Karaoke.Server/
!src/Karaoke.Server/**
!src/Karaoke.Contracts/
!src/Karaoke.Contracts/**
!src/Karaoke.Editor.Core/
!src/Karaoke.Editor.Core/**
**/bin/
**/obj/
**/data/
**/*.mp3
**/*.wav
**/*.flac
**/*.ogg
**/*.m4a
**/*.lrc
**/*.db
**/*.sqlite
**/*.json.user
