**
!Directory.Build.props
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!ACKNOWLEDGEMENTS.md
!src/
!src/Karaoke.Server/
!src/Karaoke.Server/**
!src/Karaoke.Contracts/
!src/Karaoke.Contracts/**
!src/Karaoke.Editor.Core/
!src/Karaoke.Editor.Core/**
!src/Karaoke.App/
!src/Karaoke.App/Assets/
!src/Karaoke.App/Assets/neon-stage-icon.png
!src/Karaoke.Stage.Unity/
!src/Karaoke.Stage.Unity/Assets/
!src/Karaoke.Stage.Unity/Assets/NeonStage/
!src/Karaoke.Stage.Unity/Assets/NeonStage/Shared/
!src/Karaoke.Stage.Unity/Assets/NeonStage/Shared/*.cs
!scripts/
!scripts/linux/
!scripts/linux/align-library.sh
!scripts/linux/recognize-song-lyrics.sh
!lyrics-word-aligner/
!lyrics-word-aligner/scripts/
!lyrics-word-aligner/scripts/verify_audio_encoding.py
!lyrics-word-aligner/scripts/analyze_visuals.py
**/bin/
**/obj/
**/data/
**/*.mp3
**/*.wav
**/*.flac
**/*.ogg
**/*.m4a
**/*.lrc
**/*.db
**/*.sqlite
**/*.json.user
