**
!Directory.Build.props
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!ACKNOWLEDGEMENTS.md
!src/
!src/Karaoke.Server/
!src/Karaoke.Server/**
!src/Karaoke.Contracts/
!src/Karaoke.Contracts/**
!src/Karaoke.Editor.Core/
!src/Karaoke.Editor.Core/**
!src/Karaoke.App/
!src/Karaoke.App/Assets/
!src/Karaoke.App/Assets/neon-stage-icon.png
!src/Karaoke.Stage.Unity/
!src/Karaoke.Stage.Unity/Assets/
!src/Karaoke.Stage.Unity/Assets/NeonStage/
!src/Karaoke.Stage.Unity/Assets/NeonStage/Shared/
!src/Karaoke.Stage.Unity/Assets/NeonStage/Shared/*.cs
**/bin/
**/obj/
**/data/
**/*.mp3
**/*.wav
**/*.flac
**/*.ogg
**/*.m4a
**/*.lrc
**/*.db
**/*.sqlite
**/*.json.user
